body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: #e1f5fe;
}
h2, h3 {
    color: #01579b;
}
.countdown {
    font-size: 20px;
    font-weight: bold;
    color: #d50000;
}
.line {
    margin: 20px auto;
    width: 50%;
    height: 2px;
    background: black;
}
img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}